# Daily Sentiment Scores

---

### Import Libraries and Dependencies

In [1]:
import pandas as pd
from pathlib import Path

### August 10

In [2]:
df_08_10 = pd.read_csv(Path('./btc_sentiment_2020-08-10.csv'), index_col=0)
df_08_10.describe()

,compound,positive,negative,neutral,textblob_polarity,watson_score
count,14070.000000,14070.000000,14070.000000,14070.000000,14070.000000,14070.000000
mean,0.263628,0.244359,0.074722,0.680919,0.161613,-0.030185
std,0.426294,0.172095,0.132746,0.154866,0.290231,0.568859
min,-0.943200,0.000000,0.000000,0.000000,-1.000000,-0.999354
25%,0.025800,0.135000,0.000000,0.579000,0.000000,-0.590722
50%,0.361200,0.216000,0.000000,0.714000,0.050000,0.000000
75%,0.585900,0.366000,0.142000,0.805000,0.350000,0.336543
max,0.962300,1.000000,0.853000,0.927000,1.000000,0.999849

### August 11

In [3]:
df_08_11 = pd.read_csv(Path('./btc_sentiment_2020-08-11.csv'), index_col=0)
df_08_11.describe()

,compound,positive,negative,neutral,textblob_polarity
count,12156.000000,12156.00000,12156.000000,12156.000000,12156.000000
mean,0.287252,0.26159,0.087253,0.651159,0.134165
std,0.453227,0.18214,0.146705,0.151952,0.259374
min,-0.947700,0.00000,0.000000,0.000000,-1.000000
25%,0.025800,0.14500,0.000000,0.548000,0.000000
50%,0.401900,0.25500,0.000000,0.671500,0.000000
75%,0.599400,0.37500,0.167000,0.769000,0.290417
max,0.953800,1.00000,1.000000,0.927000,1.000000

### August 12

In [4]:
df_08_12 = pd.read_csv(Path('./btc_sentiment_2020-08-12.csv'), index_col=0)
df_08_12.describe()

,compound,positive,negative,neutral,textblob_polarity
count,37280.000000,37280.000000,37280.000000,37280.000000,37280.000000
mean,0.313559,0.268388,0.078826,0.652774,0.140746
std,0.432374,0.169185,0.139556,0.147977,0.274935
min,-0.955200,0.000000,0.000000,0.000000,-1.000000
25%,0.170000,0.167000,0.000000,0.562000,0.000000
50%,0.421500,0.268000,0.000000,0.663000,0.000000
75%,0.599400,0.366000,0.143000,0.769000,0.300000
max,0.960700,1.000000,1.000000,0.939000,1.000000

### August 13

In [5]:
df_08_13 = pd.read_csv(Path('./btc_sentiment_2020-08-13.csv'), index_col=0)
df_08_13.describe()

,compound,positive,negative,neutral,textblob_polarity
count,33279.000000,33279.000000,33279.000000,33279.000000,33279.000000
mean,0.303950,0.264881,0.077484,0.657619,0.142220
std,0.437512,0.168829,0.136919,0.147397,0.285541
min,-0.943200,0.000000,0.000000,0.000000,-1.000000
25%,0.102700,0.155000,0.000000,0.574000,0.000000
50%,0.421500,0.259000,0.000000,0.662000,0.000000
75%,0.624900,0.375000,0.143000,0.775000,0.300000
max,0.964300,1.000000,1.000000,0.939000,1.000000

### August 14

In [6]:
df_08_14 = pd.read_csv(Path('./btc_sentiment_2020-08-14.csv'), index_col=0)
df_08_14.describe()

,compound,positive,negative,neutral,textblob_polarity
count,33673.000000,33673.000000,33673.000000,33673.000000,33673.000000
mean,0.366193,0.279293,0.072105,0.648599,0.237735
std,0.451241,0.173391,0.133305,0.140345,0.344133
min,-0.947700,0.000000,0.000000,0.000000,-1.000000
25%,0.172900,0.167000,0.000000,0.580000,0.000000
50%,0.476700,0.297000,0.000000,0.649000,0.136364
75%,0.743000,0.405000,0.135000,0.756000,0.500000
max,0.964800,1.000000,1.000000,0.936000,1.000000

### August 15

In [7]:
df_08_15 = pd.read_csv(Path('./btc_sentiment_2020-08-15.csv'), index_col=0)
df_08_15.describe()

,compound,positive,negative,neutral,textblob_polarity
count,39457.000000,39457.000000,39457.000000,39457.000000,39457.000000
mean,0.389748,0.290584,0.064634,0.644770,0.217208
std,0.428974,0.172533,0.122634,0.142657,0.329195
min,-0.926000,0.000000,0.000000,0.000000,-1.000000
25%,0.151100,0.165000,0.000000,0.564000,0.000000
50%,0.440400,0.291000,0.000000,0.636000,0.100000
75%,0.771700,0.405000,0.126000,0.758000,0.400000
max,0.967000,1.000000,1.000000,0.939000,1.000000

### August 16

In [8]:
df_08_16 = pd.read_csv(Path('./btc_sentiment_2020-08-16.csv'), index_col=0)
df_08_16.describe()

,compound,positive,negative,neutral,textblob_polarity
count,27121.000000,27121.000000,27121.000000,27121.000000,27121.000000
mean,0.319243,0.263100,0.069895,0.666993,0.162646
std,0.418407,0.174552,0.130044,0.155384,0.294650
min,-0.955900,0.000000,0.000000,0.000000,-1.000000
25%,0.202300,0.144000,0.000000,0.567000,0.000000
50%,0.361200,0.241000,0.000000,0.680000,0.033333
75%,0.612400,0.389000,0.126000,0.798000,0.350000
max,0.967000,1.000000,1.000000,0.939000,1.000000

### August 17

In [9]:
df_08_17 = pd.read_csv(Path('./btc_sentiment_2020-08-17.csv'), index_col=0)
df_08_17.describe()

,compound,positive,negative,neutral,textblob_polarity
count,39806.000000,39806.000000,39806.000000,39806.000000,39806.000000
mean,0.245887,0.240265,0.086277,0.673462,0.123086
std,0.441797,0.180652,0.133147,0.151716,0.313053
min,-0.950900,0.000000,0.000000,0.000000,-1.000000
25%,-0.102700,0.126000,0.000000,0.583000,0.000000
50%,0.361200,0.222000,0.000000,0.704000,0.000000
75%,0.585900,0.366000,0.172000,0.789000,0.300000
max,0.958400,1.000000,1.000000,0.945000,1.000000

### August 18

In [10]:
df_08_18 = pd.read_csv(Path('./btc_sentiment_2020-08-18.csv'), index_col=0)
df_08_18.describe()

,compound,positive,negative,neutral,textblob_polarity
count,22326.000000,22326.000000,22326.000000,22326.000000,22326.000000
mean,0.268721,0.240587,0.076768,0.682641,0.093932
std,0.441305,0.174483,0.128086,0.142480,0.278104
min,-0.947700,0.000000,0.000000,0.000000,-1.000000
25%,-0.102700,0.124000,0.000000,0.608000,0.000000
50%,0.401900,0.244000,0.000000,0.700000,0.000000
75%,0.585900,0.326000,0.150000,0.784000,0.250000
max,0.960100,1.000000,1.000000,0.939000,1.000000